@charset "ISO-8859-1";


body
{
    background-image: url("wall.jpg");
}

.container {
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 500px;
    width: 500px;
    margin-top: 70px;
    background-color: white;
    border-radius: 5px;
    
  }
  
  .text {
    margin-top: 20px;
    margin-left: 44px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 50px;
    float: left;
    height: 400px;
    width: 400px;
    background-color: white;
  }

  /* .form1
  {
    background-color: aliceblue;
    
  } */


.h1{
    text-align: center;
    padding-left: 0px;
    padding-right: 60px;  
    color: #4e009b;
    font-size: 30px;
}
/*
#p1
{
    padding-left: 45px; 
}
*/


.input
{
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    height: 30px;
    width: 350px;
    padding-left: 15px;
    margin-top: 20px;
}


button
{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    background-color: rgb(31, 31, 68);
    color: white;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 50px;
}

button:hover
{
    background-color: rgb(171, 171, 253);
}  


.user
{
    height: 15px;
    width: 15px;
    float: right;
}

